h1{	color: #132187;
	font-family : algerian;
	font-size : 30;
	
}
td{ color : #5ef81a;
	font-size : 16;
	font-family : times new roman;
	background-color : #212bb2;
}


.menu{
	color: #0aa732;
	background-color :#e51d0e;
	font: times new roman;
	font-size : 20;
}
body{
	background-color : #ef9508;
	
}
