<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
	  <form>
	  <input type="text" v-model="search" placeholder="Ketikan Kata Kunci">
		<ul>
		  <li v-for="item in books"> {{item.message}}</li>  				  
		  </ul>
	
	  
	  
	  </form>   
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
		  search: '',	
		 books: [
			 {message: 'Kalkulus Dasar'},
			 {message: 'Fisika Dasar'},
			 {message: 'Aljabar Linier Elementer'},
			 {message: 'Aljabar Abstrak'},
			 {message: 'Algoritma Pemograman'}
		 ]
		   },
	   
	           })
  </script>
</body>
</html>